SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
WALLET_ENCRYPTION_SECRET=
DEMO_FAUCET_PRIVATE_KEY=
TREASURY_WALLET_PRIVATE_KEY=
FEE_WALLET_PRIVATE_KEY=
ARC_TESTNET_RPC_URL=
MONAD_TESTNET_RPC_URL=
NGN_USD_RATE=
SPREAD_NGN=5
BTC_USD_RATE=
ETH_USD_RATE=
EUR_USD_RATE=
MON_USD_RATE=
